<%- include('header.ejs') %>
<nav class="navbar navbar-expand">
    <a href="/" class="navbar-brand">
        <img src="images/Logo.png" width="50px" height="50px" alt="UCSSMailBox" class="logo img-fluid">
    </a>
    <div class="container d-flex flex-row flex-wrap justify-content-end" id="colNav">
        <div class="navbar-nav   ">
            <div class="nav-item ps-3 pe-3"><a href="/home" class="nav-link fs-3"><i class="fas fa-home"></i></a></div>
            <div class="nav-item ps-3 pe-3"><a href="/notifications" class="nav-link fs-3"><i class="fas fa-bell"></i></a></div>
            <div class="nav-item ps-3 pe-3"><a href="/about" class="nav-link fs-3"><i class="fas fa-info"></i></a></div>
        </div>
    </div>
    <div class="nav-item ps-3 pe-3"><a href="/profileManage" class="nav-link fs-3"><i class="fas fa-user"></i></a></div>
</nav>
</header>
<section class="container-fluid">